body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("./images/bgimg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd-example {
    display: grid;
}

.navbar-collapse {
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-right: 100px;
    font-family: "Poppins", sans-serif;
    color: #556270;
    font-size: 17px;
}

.floating1 {
    padding-left: 65px;
}

.Nav-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}